streamlit
langchain
langchain-community
langchain-core
langchain-groq
python-dotenv
bs4
requests
langchain-text-splitters
numexpr
gradio
duckduckgo-search
ddgs
pypdf
sentence-transformers
torch
chromadb
pandas
numpy
scikit-learn
